<h1><%= @team.name %></h1><br>
<h2> Team Motto: <%= @team.motto%></h2><br>
<% @superheros.each do |superhero|<%>
  <h2>Hero Name: <%= superhero.name %></h2><br>
  <p>Hero Power: <%= superhero.power %></p>
  <p>Hero Biography: <%= superhero.bio %></p>
<%end%>
