<h1><%= @team.name %></h1>
<h2> Team Motto: <%= @team.motto%></h2>
<% @superheros.each do |superhero| %>
  <h2>Hero name: <%= superhero.name %></h2>
  <p>hero power: <%= superhero.power %><br>
  hero biography: <%= superhero.bio %></p>
<% end %>
